# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Microsoft Office temporary files
# ===============================
~$*.docx
~$*.xlsx
~$*.pptx

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Environment variables / secrets
# ===============================
.env
.env.*

# ===============================
# Node.js / JavaScript
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Build / Dist
# ===============================
dist/
build/

# ===============================
# IDE / Editor settings
# ===============================
.vscode/
.idea/

# ===============================
# Git internal
# ===============================
*.orig
