
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(209, 72, 209),rgb(15, 8, 15));
}
.container{
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    height: 600px;
    background-image: linear-gradient(rgb(241, 225, 241),rgb(216, 172, 216));
    border-radius: 5px;
}
.image-slider{
    flex: 2;
   border-right: 2px solid purple;
  
}
.image-slider img{
     width: 100%;
   height: 600px;
}

.myform{
    flex: 3;
    padding: 50px;
    align-self: center;
}
label{
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"]
{   
    margin-bottom: 20px;
    width: 70%;
    border-radius: 6px;
    border-color: rgb(226, 224, 224);
    height:30px;
    font-size: 15px;
    
}
input[type="checkbox"]{
    margin-bottom: 20px;
}
input[type="submit"]
{
    width: 72%;
    margin-bottom: 20px;
    height:35px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    color: rgb(255, 255, 255);
    
}
input[type="submit"]{
    background-color: rgb(0, 0, 0);
}

input[type="submit"]:hover{
    background-color:rgb(78, 78, 78);
}
p{
    color: rgb(88, 88, 88);
}
p span{
    color: rgb(49, 73, 211);
    cursor: pointer;
}



